<div>
  <div class="mb-4 flex justify-between">
    <div class="text-gray-400">
      Current user - <%= Current.user.name %> / <%= Current.company.name %>
    </div>
    <div>
      <%= link_to "Projects", projects_path %>
    </div>


  </div>
  <hr class="mb-4">

  <h1 class="font-bold text-4xl mb-4">
    Posts
  </h1>

  <%= render @posts %>
</div>

<div id="count">
  <%= pluralize @posts.count, "post" %> found
</div>
